    .container-fluid {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
    }

    .row {
        display: flex;
        justify-content: center;
    }

    .banner {
        background: linear-gradient(to right, #FF6968, #A334FA, #0695FF);
        width: 100%;
        height:200px;
        margin-bottom:50px;
        padding: 20px;
        text-align: center;

    }

   .banner-text h1 {
    color: white;
    font-size: 32px;
    font-weight: bold;
    margin: 0;
    text-align:center;

}

.form-control{
margin-bottom:20px

}
.button-13{
margin-bottom:20px
}
